* {
  margin-top: 40;
  margin-left: 75;
  padding: 0;
  background-color: rgb(11, 29, 5);
}

#canvas {
  border: 3px solid black;
  /* background-image: url("space.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

#pong{

  position: absolute;
  top:-20;
  left:535;
  font-size: 80;
  font-style: italic;
  color: aliceblue;
  /* background-color: green; */
}

#p1Score{
  position: absolute;
  top: 20;
  left:150;
  font-size: 40;
  color: aliceblue;
}

#p2Score{
  position: absolute;
  top: 20;
  left:970;
  font-size: 40;
  color: aliceblue;
}

#music{
  position: absolute;
  top: 630;
  left: 500;
  font-size: 30;
  color: aliceblue;
}